.card{
    margin: 0px 5px 0px 5px;
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
    width: 480;
    box-shadow: 10px 5px #000;
    border-radius: 10px;
}
.img{
    /* align-items: center; */
    margin: auto;
    margin-top: 5px;
    display: block;
    padding-top: 20px;
    border-radius: 10px;
    width: 280;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
.card2{
    margin: 1rem 5px 1rem 5px;
    background-color: rgb(55, 0, 255);
    font-family: 'Courier New', Courier, monospace;
    width: 480;
    box-shadow: 10px 5px #000;
    border-radius: 10px;
}
.card3{
    margin: 1rem 5px 0px 5px;
    background-color: rgb(255, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    width: 480;
    box-shadow: 10px 5px #000;
    border-radius: 10px;
}
footer{
    margin: auto;
}
.button{
    margin : auto
}
.button:hover{
    color: greenyellow;
}