.card{
    margin: 2rem 5px 5% 5px;
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
    width: 480;
    box-shadow: 10px 5px #000;
    border-radius: 10px;
}
.img{
    /* align-items: center; */
    margin: auto;
    margin-top: 5px;
    display: block;
    padding-top: 20px;
    border-radius: 10px;
    width: 280;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}

footer{
    margin: auto;
}
.button{
    margin : auto
}
.button:hover{
    color: greenyellow;
}
.container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}