.card{
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    width: 500;
    box-shadow: 10px 5px #000;
}
.img{
    /* align-items: center; */
    margin: 20px 100px 20px 100px;
    border-radius: 10px;
}
p{
    text-align: center;
}
table{
    border-width: 80px;
}